extends ../layouts/main-layout.pug

block content
    .grid.wide
        .row.sm-gutter.app_content
            .clo.l-12.m-12.m-12
                .home-product
                    if products.length > 0
                        .row.sm-gutter
                            each product in products
                                .col.l-2-4.m-4.c-6
                                    // Product item
                                    .home-product-item
                                        .home-product-item_img(style=`background-image: url(${product.imgUrl})`)
                                        h5.home-product-item_name #{product.title}
                                        .home-product-item_price
                                            span.home-product-item_price-old #{(product.price).toLocaleString('vi-VN', {style: 'currency', currency: 'VND', minimumFractionDigits: 0, maximumFractionDigits: 0}).replace(/\B(?=(\d{3})+(?!\d))/g, '.')}
                                            span.home-product-item_price-current #{(product.price * (1 - (product.discount/100))).toLocaleString('vi-VN', {style: 'currency', currency: 'VND', minimumFractionDigits: 0, maximumFractionDigits: 0}).replace(/\B(?=(\d{3})+(?!\d))/g, '.')}
                                        .home-product-item_action
                                            span.home-product-item_like.home-product-item_like-liked
                                                i.home-product-item_like-icon-empty.fa-regular.fa-heart
                                                i.home-product-item_like-icon-fill.fa-solid.fa-hearts
                                            .home-product-item_rating
                                                i.home-product-item_star-gold.fa-solid.fa-star
                                                i.home-product-item_star-gold.fa-solid.fa-star
                                                i.home-product-item_star-gold.fa-solid.fa-star
                                                i.home-product-item_star-gold.fa-solid.fa-star
                                                i.fa-solid.fa-star
                                            span.home-product-item__sold sale
                                        .home-product-item_origin
                                            span.home-product-item_brand Được yêu thích
                                            span.home-product-item_origin-name #{product.location}
                                        .home-product-item_favourite
                                            i.fa-solid.fa-check
                                            span Yêu thích
                                        .home-product-item_sale-off
                                            span.home-product-item_sale-off-percent #{product.discount}%
                                            span.home-product-item_sale-off-lable GIẢM
                                        .action-form 
                                            a.btn-action(href="") Edit
                                            form.action-form-btn(action="", method="post") 
                                                button.btn-action(type="submit") Delete
                    else 
                        h2.text-no-product Hiện tại chưa có sản phẩm để hiển thị